extends layout

block content
  .row.page-header
   .col-lg-12
    h1= sayfaBaslik
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="", method="post", id="yeniMekanEkle")  
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="name") Mekan Adı
          .col-xs-12.col-sm-10
            input#name.form-control(name="name")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="address") Mekan Adresi
          .col-xs-12.col-sm-10
            input#address.form-control(name="address")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="resources") İmkanlar
          .col-xs-12.col-sm-10
            input#resources.form-control(name="resources")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="lat") Enlem
          .col-xs-12.col-sm-10
            input#lat.form-control(name="lat")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="lng") Boylam
          .col-xs-12.col-sm-10
            input#lng.form-control(name="lng")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="dayo") Günler-1
          .col-xs-12.col-sm-10
            input#dayo.form-control(name="dayo")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="openo") Açılış-1
          .col-xs-12.col-sm-10
            input#openo.form-control(name="openo")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="closeo") Kapanış-1
          .col-xs-12.col-sm-10
            input#closeo.form-control(name="closeo")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="dayt") Günler-2
          .col-xs-12.col-sm-10
            input#dayt.form-control(name="dayt")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="opent") Açılış-2
          .col-xs-12.col-sm-10
            input#opent.form-control(name="opent")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="closet") Kapanış-2
          .col-xs-12.col-sm-10
            input#closet.form-control(name="closet")
        button.btn.btn-primary.pull-right Mekanı Ekle  
    .col-xs-12.col-md-6